nav{
    height: 12vh;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
}
#imagen{
    width: 100%;;
}
.button-nav{
    display: flex;
    align-items: flex-start;
}
main{
    padding: 1vh;
    display: flex;
}
.noti1{
    width: 70vw;;
    padding: 10px, 30px;
}
.noti2{
    width: 30vw;
    padding: 30px;
    display: flexbox;
}
h1{
    font-size: 44px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    line-height: 52px;
    color: #000A2F;
    margin-bottom: 9px;
}
p{
        font-size: 19px;
    font-family: "Noto Serif", serif;
    line-height: 30px;
    color: #292933;
    margin-bottom: 34px;
}
article{
    display: flex;
    align-items: center;
    justify-content: center;
}
article image{
    margin: auto;
}

.entry-data{
padding: 10px;
}
